.container {
    position: absolute;
    top: 12px;
    right: 12px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--accent)
}

.bage {
    border-radius: 30px;
    padding: 8px;
    background-color: var(--accent-lightest);
    display: inline-flex;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: max-content;
    top: 100%;
    right: 0;
    margin-top: 1px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--accent-lightest);
}

.container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.activeItem {
    font-weight: 900;
    color: var(--accent-darker);
}

@media screen and (min-width: 768px) {
    .container {
        font-size: 14px;
        line-height: 1.29;
    }
}