.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

@media screen and (min-width: 768px) {
    .list {
        row-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .list {
        row-gap: 40px;
    }
}