.card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
}

.img {
    border-radius: 15px;
    height: 190px;
    object-fit: cover;
}

.cardInfo {
    flex-grow: 1;
}

.cardTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    margin-bottom: 12px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
}

.cardData {
    color: var(--text-muted);
}

.link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--accent);
}

@media screen and (min-width: 768px) {    
    .card {
        gap: 28px;
        font-size: 16px;
        line-height: 1.25;
        width: 340px;
    }
    
    .img {
        height: 226px;
    }

    .cardTitle {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .card {
        width: 361px;
    }
}