.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        flex-direction: row;
        gap: 32px;
    }
}