@media screen and (max-width: 767px) {
    .btn {
        display: none;
    }
}

.userNavContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn {
    padding: 15px 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: var(--accent);
    color: var(--white);
}

.outline {
  padding: 15px 35px;
  border: 1px solid var(--border-light);
  color: var(--white);
  background-color: transparent;
}

.outline:hover,
.outline:focus {
  background-color: var(--accent-lightest);
  color: var(--accent);
}