.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background-color: var(--white);
    border-radius: 30px;
    position: relative;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    stroke: var(--text-main);
    cursor: pointer;
}