.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .list {
        margin-top: 44px;
    }
}

@media screen and (min-width: 1280px) {
    .list {
        gap: 28px 19px;
        margin-top: 60px;
    }
}