.userName {
    display: none;
}

.userBar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.userIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-lightest);
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIcon svg {
    fill: var(--accent);
    width: 20px;
    height: 20px;
}

.userIconWhite {
    background-color: var(--accent-lightest);
}

.userIconWhite svg {
    fill: var(--accent);
}

@media screen and (min-width: 768px) {
    
    .userName {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.03em;
        color: var(--text-main);
    }

    .userNameWhite {
        color: var(--white);
    }

    .userIcon {
        width: 50px;
        height: 50px;
    }

    .userIcon svg {
        width: 24px;
        height: 24px;
    }
}
