.authNav {
    display: flex;
    gap: 8px;
    font-weight: 700;
}

.burger {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .burger {
        flex-direction: row;
        justify-content: center;
    }
}