.inputWrapper {
    position: relative;
}

.input {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    
    letter-spacing: -0.03em;
    color: rgba(38, 38, 38, 0.8);
}

.input::placeholder {
    color: rgba(38, 38, 38, 0.5);
}

.input:focus, .input:active {
    border-color: var(--accent);
}

.error {
    border-color: var(--color-error);
}

.errorMessage {
    margin: 2px 0 0 12px;
    color: var(--color-error);
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

.iconEye, .iconError {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 12px;
    right: 12px;
    fill: transparent;
}

.iconEye {
    stroke: var(--accent);
}

.iconError {
    stroke: var(--color-error);
}

@media screen and (min-width: 768px) {    
    .input {
        padding: 16px;
    }

    .iconEye, .iconError {
        width: 22px;
        height: 22px;
        top: 16px;
        right: 16px;
    }

    .errorMessage {
        margin: 4px 0 0 16px;
        font-size: 12px;
        line-height: 1.17;
    }
}