.homeContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.contentBlock {
    background: var(--accent);
    width: 100%;
    border-radius: 30px;
    padding: 118px 20px 50px 20px;
    color: var(--white);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 0.96;
    letter-spacing: -0.03em;
}

.title span {
    color: var(--border-light);
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}


@media screen and (min-width: 768px) {
    .homeContainer {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .contentBlock {
        border-radius: 60px;
        padding: 178px 32px 44px 32px;
        gap: 32px;
    }   

    .title {
        font-size: 80px;
    }

    .text {
        font-size: 18px;
        line-height: 1.22;
        width: 255px;
        align-self: self-end;
    }
}

@media screen and (min-width: 1280px) {
    .contentBlock {
        padding: 178px 64px 32px 64px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .title {
        font-size: 90px;
        width: 760px;
    }
}